.container{
    width: 100%;
flex-wrap: wrap;
    display: flex;
    justify-content:space-around;
    background-color: rgb(255, 255, 255);
    min-height: 90vh;
}

.card{
    width: 465px;
    height: 450px;
    max-width: 465px;
    max-height: 450px;
    // background-color: grey;
    margin-top: 20px;
    // background-color: rgb(208, 255, 127);
   

}

.content{
    margin: 0px 10px 0px 10px;
}

.image{
    display: flex;
    justify-content: center;
    object-fit: contain;
}

.price{
    font-size: 20px;
    font-weight: 700;
}

.addbtn{
    display: flex;
    justify-content: space-between;
    margin-top: 3px;
    margin-bottom: 3px;
}

.favIcon{
    // background-color: pink;
    color: rgb(156, 18, 41);
}