.container{
    min-height: 74.5vh;
}

.card{
    width: 98%;
    // height: 80vh;
    // height: 74vh;
}

.image{
    display: grid;
    grid-template-columns: 85% 15%;
    height:74.5vh;
}

.subimg mat-card{
 // background-color: red;
    height: 74.5vh;

}

.mainimg{
    // background-color: rebeccapurple;
    min-height: 74.5vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow-y: scroll;
    
   
}
.prImage{
    width: 371px;
    height: 469px;
    border-radius: 30px;
}

.description{

    margin-left: 10px;
    margin-top: 20px;
}

.text{
    font-size: 30px;
    font-weight: 700;
    margin-top: 10px;
}
.normal span{
    font-size: 30px;
    font-weight: 700;
    width: 500px;
    padding: 10px;
}

.add button{
    width: 200px;
    background-color: orangered;
    height:1.5cm;
    border-radius:10px ;
    font-size: 20px;
    font-weight: 600;
    color: white;

}

.buy button{
    width: 200px;
    background-color: rgb(0, 255, 98);
    height:1.5cm;
    border-radius:10px ;
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.sugCard{
    margin-top: 2px;
   width: 4cm;
height:4cm;
flex-direction: column;
background-color: rgb(229, 229, 175);
}
.sugCard:hover{
    background-color: rgb(201, 243, 243);
    // border-color: 2px solid blue;
    cursor: pointer;
}




.sugContent{
    display: flex;
    justify-content: center;
}
  